on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  download_artifact:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: assets
        path: br-assets

    - name: Download artifacts from falco
      uses: dawidd6/action-download-artifact@v2.28.0
      with:
        github_token: ${{ github.token }}
        workflow: "ci.yml" # 26039754
        repo: falcosecurity/falco
        workflow_conclusion: success
        name: falco-\d+\.\d+\.\d+-\d+\+[a-f0-9]+-wasm.tar.gz
        name_is_regexp: true

    - name: Extract artifact
      run: tar -xvf falco-*-wasm.tar.gz/falco-*-wasm.tar.gz

    - name: Setup fs
      run: |
        mkdir -p br-assets/latest/
        
        FOLDER_NAME=$(find . -type d -name "falco-*-wasm" -print -quit)
        VERSION=$(echo $FOLDER_NAME | sed -E 's/^.+falco-([0-9]+\.[0-9]+\.[0-9]+).*/\1/')

        echo $VERSION
        mkdir -p br-assets/$VERSION/

    - name: Move artifacts
      run: |
        ls falco-*-wasm/usr/bin
      
        mv falco-*-wasm/usr/bin/falco.wasm br-assets/latest/falco.wasm
        mv falco-*-wasm/usr/bin/falco.js br-assets/latest/falco.js

        echo br-assets/latest/
        ls br-assets/latest/

    - run: |
        cd br-assets
        git config user.name github-actions
        git config user.email github-actions@github.com
        pwd
        git branch
        ls *
        git add latest/falco.wasm latest/falco.js
        git commit -m "Update assets"
        git push
